{% extends "base.html" %}

{% block title %}Formulario{% endblock %}

{% block content %}
<h2>Ingresar Datos</h2>
<form action="{{ url_for('guardar') }}" method="post">
    Nombre: <input type="text" name="nombre" required><br>
    Edad: <input type="number" name="edad" required><br>
    <button type="submit">Guardar</button>
</form>

<form action="{{ url_for('guardar_db') }}" method="post">
    <h3>Guardar también en SQLite</h3>
    Nombre: <input type="text" name="nombre" required><br>
    Edad: <input type="number" name="edad" required><br>
    <button type="submit">Guardar en DB</button>
</form>
{% endblock %}